/ext
/bin
/build
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/molumes
/.vs/config
*.code-workspace

## update 29-11-2018
/dat
/lib

## imgui ini file
imgui.ini

# VS Code files
/.vscode

# CLion files
/.idea